<div style="height: 24px"></div>
<hr>
Article published: $DATE_POSTED<br>
Last edited: $DATE_EDITED<br>
Tags: $TAGS<br>
<br>
This article is published from France and released under <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode">license CC0</a>.
Feeds: <a href="atom.xml">Atom</a>, <a href="rss.xml">RSS</a>.
