<hr>
Generated with <a href="https://pedantic.software/git/blogit">blogit</a>.
Blog repository <a href="https://pedantic.software/git/~fxc/blog">here</a>.
Feeds: <a href="atom.xml">Atom</a>, <a href="rss.xml">RSS</a>.
